<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 mt-5 rounded rounded-2 shadow m-2 ">
            <h3 class="text-danger">TeacherForm</h3>
            <form [formGroup]="teacherForm" (ngSubmit)="onSubmit()" class="mt-2 p-2">
                <div class="mb-3">
                    <label for="name" class="form-label"> Name</label>
                    <input type="text" id="name" class="form-control" formControlName="name"
                        placeholder="enter a name" />
                </div>

                <div *ngIf="teacherForm.get('name')?.touched && teacherForm.get('name')?.invalid" class="text-danger">
                    <small *ngIf="teacherForm.get('name')?.hasError('required')">name is required</small>

                </div>

                <div class="mb-3">
                    <label for="email" class="form-label">email</label>
                    <input type="text" id="email" class="form-control" formControlName="email"
                        placeholder="enter a email" />
                </div>
                <div *ngIf="teacherForm.get('email')?.touched && teacherForm.get('email')?.invalid"
                    class="text-danger">
                    <small *ngIf="teacherForm.get('email')?.hasError('required')">email is required</small>

                </div>

                <div class="mb-3">
                    <label for="phonenumber" class="form-label">phonenumber</label>
                    <input type="number" id="phonenumber" class="form-control" formControlName="phonenumber"
                        placeholder="enter a phonenumber" />

                    <div *ngIf="teacherForm.get('phonenumber')?.touched && teacherForm.get('phonenumber')?.invalid"
                        class="text-danger">
                        <small *ngIf="teacherForm.get('phonenumber')?.hasError('required')">phonenumber is
                            required</small>

                    </div>


                </div>


                <div class="mb-3">
                    <label for="status" class="form-label">Status</label>
                    <select id="status" class="form-control" formControlName="status">
                        <option value="">Select status</option>
                        <option value="Active">Active</option>
                        <option value="inActive">inActive</option>
                    </select>

                    <div *ngIf="teacherForm.get('status')?.touched && teacherForm.get('status')?.invalid"
                        class="text-danger">
                        <small *ngIf="teacherForm.get('status')?.hasError('required')">Status is required</small>
                    </div>
                </div>


                <div class="mb-3">
                    <label for="createdBy" class="form-label">createdBy</label>
                    <input type="text" id="createdBy" class="form-control" formControlName="createdBy"
                        placeholder="enter a phonenumber" />

                    <div *ngIf="teacherForm.get('createdBy')?.touched && teacherForm.get('createdBy')?.invalid"
                        class="text-danger">
                        <small *ngIf="teacherForm.get('createdBy')?.hasError('required')">createdBy is required</small>

                    </div>


                </div>

                <div class="mb-3">
                    <label for="classId" class="form-label">class</label>
                    <select
                        id="classId"
                        class="form-select"
                        formControlName="classId"
                    >
                    <option value="" disabled>select class</option> <!--<option *ngFor="let class of classes" [value]="class.classId">{{class.name}}-->
                        <!--<option *ngFor="let class of classes" [value]="class.classId">{{class.name}}-->
                    </select>

                </div>

                


                <div class="mt-4">
                    <button type="submit" class="btn btn-primary mb-4" [disabled]="teacherForm.invalid">Submit</button>
                </div>
            </form>
        </div>


    </div>
</div>